    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}{{visita.visita_k}}</h3>
    </div>
    <div class="modal-body">
        <form name="visita_form" class="form-horizontal" role="form" novalidate>
            <form-element label="Fecha de Visita" mod="visita">
                <select name="anio" id="anio" ng-options="option.name for option in anios.availableOptions track by option.id"
                  ng-model="anios.selectedOption"></select>
                <select name="mes" id="mes" ng-options="option.name for option in meses.availableOptions track by option.id"
                  ng-model="meses.selectedOption"></select>
                <select name="dia" id="dia" ng-options="option.name for option in dias.availableOptions track by option.id"
                  ng-model="dias.selectedOption"></select>
            </form-element>

            <form-element label="Visita Realizada" mod="visita">
                <select name="realizada" id="realizada" ng-options="option.name for option in realizada.availableOptions track by option.id"
                  ng-model="realizada.selectedOption"></select>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="guardarVisita(visita, anios.selectedOption, meses.selectedOption , dias.selectedOption, realizada.selectedOption);"
                                ng-disabled="visita_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

